/* Resets y Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

header {
    background-color: #4169e2;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 0px;
    height: 150px;
    display: flex;
    /* FlexBox */
    align-items: center;
    /* Centramos verticalmente */
    justify-content: space-around;
    /* Centramos horizontalmente */
    flex-wrap: wrap;
    /* Si no cabe el texto en el Header salta */
    text-align: center;
    /* Centramos el texto cuando salte de línea */
}

header h1 {
    color: #FFF;
    margin: 20px;
}

.responsive-tabs {
    margin: 20px auto;
    margin-top: 0px;
    width: 90%;
}

.responsive-tabs .estado {
    display: none;
    /* Ocultamos los input radio */
}

.responsive-tabs .flex-tabs {
    display: flex;
    /* Flex Tabs */
    justify-content: space-between;
    /* Espacio entre ellos */
    flex-wrap: wrap;
    /* Wrap por si no caben */
    border-top: 10px solid white;
}

.responsive-tabs .flex-tabs .tab {
    flex-grow: 1;
    /* Indicamos que crezcan por igual */
}

/* Configuración del panel. Por defecto todos ocultos */
.responsive-tabs .flex-tabs .panel {
    padding: 10px;
    height: fit-content;
    min-height: 75vh;
    width: 100%;
    flex-basis: auto;
    display: none;
}


/* Configuración de los tabs. */
.responsive-tabs .tab {
    padding: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: #999999;
    border-bottom: 1px solid rgb(116, 116, 255);
    text-align: center;
    background-color: rgb(218, 218, 218);
}

.responsive-tabs .tab:hover {
    background-color: #fff;
    color: #4169e2;
}

/* Al seleccionarlo cambiamos estilo del label */
#tab-uno:checked~.tabs #tab-uno-label,
#tab-dos:checked~.tabs #tab-dos-label,
#tab-tres:checked~.tabs #tab-tres-label,
#tab-cuatro:checked~.tabs #tab-cuatro-label,
#tab-cinco:checked~.tabs #tab-cinco-label {
    background-color: #fff;
    cursor: default;
    font-weight: bold;
    color: #000;
    background-color: #4169e2;
    color: white;
}

/* Al seleccionar la etiqueta mostramos el panel */
#tab-uno:checked~.tabs #tab-uno-panel,
#tab-dos:checked~.tabs #tab-dos-panel,
#tab-tres:checked~.tabs #tab-tres-panel,
#tab-cuatro:checked~.tabs #tab-cuatro-panel,
#tab-cinco:checked~.tabs #tab-cinco-panel {
    display: block;
}

/*
    Header
*/

header div img {
    width: 200px;
    border-radius: 15px;
}

header h1 {
    text-transform: uppercase;
}
/*
    Main
*/

main {
    width: 90%;
    height: fit-content;
    min-height: 80vh;
    display: flex;
    border: 1px solid #4169e2;
}

/*
    Aside
*/
main aside {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 30px;
    border: 1px solid #4169e2;
}

main aside img {
    width: 220px;
}


/*
    Footer
*/
footer {
    width: 90%;
    background-color: #4169e2;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    color: white;
    align-items: center;
}

.logos {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.panel {
    margin-left: 200px;
}
.panel img {
    text-align: center;
    width: 50vw;
}

.panel span {
    font-weight: bolder;
}


footer i:hover {
    transform: scale(130%);
}
/* Configuración de vista Responsive */
@media (max-width: 600px) {

    header h1 {
        font-size: 1.5em;
    }

    .flex-tabs {
        flex-direction: column;
    }

    .flex-tabs .tab {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }

    /* Asociamos cada etiqueta a cada panel para que se muestre forma correcta */
    .flex-tabs #tab-uno-label {
        order: 1;
    }

    .flex-tabs #tab-dos-label {
        order: 3;
    }

    .flex-tabs #tab-tres-label {
        order: 5;
    }

    .flex-tabs #tab-cuatro-label {
        order: 7;
    }

    .flex-tabs #tab-uno-panel {
        order: 2;
    }

    .flex-tabs #tab-dos-panel {
        order: 4;
    }

    .flex-tabs #tab-tres-panel {
        order: 6;
    }

    .flex-tabs #tab-cuatro-panel {
        order: 8;
    }

    #tab-uno:checked~.tabs #tab-uno-label,
    #tab-dos:checked~.tabs #tab-dos-label,
    #tab-tres:checked~.tabs #tab-tres-label,
    #tab-cuatro:checked~.tabs #tab-cuatro-label,
    #tab-cinco:checked~.tabs #tab-cinco-label {
        border-bottom: none;
    }

    #tab-uno:checked~.tabs #tab-uno-panel,
    #tab-dos:checked~.tabs #tab-dos-panel,
    #tab-tres:checked~.tabs #tab-tres-panel,
    #tab-cuatro:checked~.tabs #tab-cuatro-panel,
    #tab-cinco:checked~.tabs #tab-cinco-panel {
        border-bottom: 1px solid #ccc;
    }

    .responsive-tabs .tab {
        text-align: justify;
    }

    .panel {
        margin-left: 20px;
    }
    main aside {
        display: none;
    }

    header img {
        display: none;
    }

    main {
        min-height: fit-content;
    }

    .responsive-tabs .flex-tabs .panel {
        min-height: fit-content;
    }

    .logos {
        display: none;
    }
}