* {
    box-sizing: border-box;
    margin: 0;
    border: 0; 
    display: inline-block;
    width: 100%;
} 

head {
    display: none;
}

header, footer {
    height: 20vh;
    padding: 10px;
}

header {
    background-color: yellow;
}

footer {
    background-color: orange;
}

nav {
    height: 15vh;
    padding: 10px;
    background-color: green;
}

main {
    height: 45vh;
    background-color: rgb(70, 34, 199);
}


@media screen and (min-width: 600px) {
    nav {
        height: 45vh;
        width: 30%;
        float: left;
    }

    main {
        width: 70%;
        float: right;
    }
}