h1 {
    margin: 0;
}

body {
    margin: 0;
}
/* HEADER Y MENU  */

header {
    display: flex;
    color: #FFF;
    background-color: #801515;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}


.menu {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex-direction: row;
    color: #FFF;
    width: 40%;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
}

.menu>p {
    background-color: #D46a6a;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
}

/* MAIN */

/* ASIDE */

aside {
    display: flex;

    color: #FFF;
    background-color: #D46a6a;
    height: 75vh;
    margin: 0;
    padding: 0;
    width: 20%;
    align-items: center;
    justify-content: center;

}

/* CUERPO */

.cuerpo {
    
    display: flex;
    color: #FFF;
    background-color: #AA3939;
    height: 75vh;
    margin: 0;
    padding: 0;
    width: 80%;
    align-items: center;
    justify-content: center;

}

/* FOOTER */

footer {
    display: flex;

    color: #FFF;
    background-color: #550000;
    height: 15vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

}

main {
    display: flex;
    flex-direction: row-reverse;
}

/*! Media Tablet */
@media screen and (max-width: 700px) {
    header {
        height: 20vh;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .menu p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 110px;
        height: 30px;
        margin: 5px;
        border-radius: 10px;
    }
    main {
        flex-direction: column;
    }
    aside {
        width: 100%;
        height: 10vh;
    }
    .cuerpo {
        height: 55vh;
        width: 100%;
    }

    .titulo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}