body {
    background-color: burlywood;
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #3d7906;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    width: 150px;
}

header hr {
    width: 60%;
}

header nav {
    width: 75%;
    text-align: center;
    padding: 10px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    margin-right: 10px;
}

header nav ul li:nth-last-of-type(2), li:nth-last-of-type(1) {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}



footer {
    background-color: #3d7906;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
