/* BODY */

body {
    background-color: burlywood;
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*width: 100vw;*/
    /*height: 100%;*/
}

/* HEADER */

header {
    background-color: #3d7906;
    color: #fff;
    text-align: center;
    height: 22vh;
    overflow: hidden;
}

header img {
    height: 60%;
    width: auto;
}

header hr {
    width: 70%;
}

header nav {
    width: 75%;
    text-align: center;
    padding: 10px;
}

header nav ul li {
    display: inline-block;
}


header nav ul li a {
    margin-right: 10px;
}

header nav ul li:nth-last-of-type(2),
li:nth-last-of-type(1) {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* CONTAINER */

.container {
    /* El calc está hecho para que el container ocupe toda la pantalla menos la altura(sumada) del header y el footer */
    height: calc(100vh - 30.3vh);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;

}

.container main {
    padding: 20px;
    overflow-y: scroll;
}

.container main p {
    max-width: 90%;
}

.video {
    margin: auto;
    margin-left: 50px;
    text-align: center;
}

.video>iframe {
    width: 600px;
    height: 350px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #3d7906;
    color: #fff;
    text-align: center;
    height: 8.3vh;
}

footer p {
    display: flex;
}

footer img {
    width: 120px;
    height: auto;
}

/* HOVER */

main h1:hover,
h2:hover {
    color: #3d7906;
    margin-left: 7vw;
    transform: scale(120%);
    transition: transform 1s, color 1.2s, margin-left 1s;
}

.container main img:hover {
    margin-left: 4vw;
    transform: scale(110%);
    transition: transform 0.5s, margin-left 1s;
}


@media screen and (min-width: 425px) and (max-width: 1024px) {

    header nav {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-bottom: 2vh;
    }

    header nav ul li:nth-last-of-type(2),
    header nav ul li:nth-last-of-type(1) {
        float: none;
        margin-left: 5vw;
    }

    header nav ul {
        text-align: center;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    header ul li:nth-of-type(5) {
        display: none;
    }

    .container {
        height: auto;
        flex-direction: column;
        align-items: stretch;
        display: block;
    }

    .container main {
        max-width: none;
        width: 100%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
    }

    .video {
        margin-left: 0;
    }

    main h1,
    h2 {
        color: inherit;
        transform: none;
        margin: inherit;
        transition: none;
    }

    main h1:hover,
    h2:hover {
        color: inherit;
        margin: auto;
        transform: none;
        transition: none;
    }

    .container main img:hover {
        margin: 0;
        transform: none;
        transition: none
    }
}

@media screen and (max-width: 426px) {
    header {
        width: 100vw;
        height: auto;
    }

    header img {
        height: 100%;
        width: auto;
    }

    header nav {
        width: 100%;
        padding: 5px;
        display: none;
        transition: opacity 0.3s;
        opacity: 0;
    }

    header nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    header nav ul li:nth-of-type(1), header nav ul li:nth-of-type(2), header nav ul li:nth-of-type(3), header nav ul li:nth-of-type(4) {
        display: inline-block;
    }

    header nav ul li:nth-last-of-type(2),
    header nav ul li:nth-last-of-type(1) {
        float: none;
        margin-top: 10px;
        margin-left: 0;
    }

    header nav ul li:nth-of-type(5) {
        overflow: hidden;
    }

    .container {
        height: auto;
        flex-direction: column;
        align-items: stretch;
        display: block;
    }

    .container main {
        max-width: none;
        width: 100vw;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
    }

    .container main img {
        width: 40vw;
    }

    .video {
        margin-left: 0;
    }

    .video>iframe {
        width: auto;
    }

    main h1,
    h2 {
        color: inherit;
        transform: none;
        margin: inherit;
        transition: none;
    }

    main h1:hover,
    h2:hover {
        color: inherit;
        margin: auto;
        transform: none;
        transition: none;
    }

    .container main img:hover {
        margin: 0;
        transform: none;
        transition: none;
    }

    footer p {
        text-align: center;
        padding: auto;
        margin: auto;
        font-size: small;
    }

    footer img {
        display: none;
    }

    header:hover nav,
    header img:hover+nav {
        display: block;
        opacity: 1;
        transition: opacity 0.3s;
    }

}