* {
    box-sizing: border-box;
    margin: 0;
    border: 0; 
    display: inline-block;
    width: 100%;
} 

head {
    display: none;
}

header, footer {
    height: 20vh;
    padding: 10px;
}

header {
    background-color: yellow;
}

footer {
    background-color: green;
}

nav {
    height: 25vh;
    padding: 10px;
    background-color: rgb(70, 34, 199);
}

main {
    background-color: orange;
}

@media screen and (max-width: 600px) {
    main {
        height: 20vh;
    }
}

@media screen and (min-width: 601px) {
    main {
        height: 35vh;
        width: 50%;
        float: left;
    }

    footer {
        height: 35vh;
        width: 50%;
        float: right;
    }
}
